.block {
    /* background-image: -webkit-image-set(); */
    /* background-color: rgb(243, 231, 231); */
    background-image: -moz-element()
}
.grid_block {
      background-image: url(https://image.tmdb.org/t/p/w1400_and_h450_face/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg)
}
.card {
    margin-left: 20px ;
};
.container-fluid{
    background-color: rgb(105, 21, 66);
}
/* .d-flex{
    background-color: deepskyblue;
}; */

/* #contain{
    background-color: grey;
} */
.cont{
    background-color: rgb(224, 178, 178);
}