<!-- <app-search-films (searchF)="makeSearchFilms($event)"></app-search-films> -->
<!-- <mat-spinner class="spinner-position" *ngIf="activeSpinner"></mat-spinner> -->


<div class="container">
  <h1>{{title}}</h1>
  <div class="d-flex">
    <div class=" bg-light m-3 mt-0 side-bar" >
      <ul class="nav nav-pills flex-column">
        <li class="nav-item" *ngFor = "let link of links; 
         index as i">
         
           <app-sorting *ngIf="i === 0" (sortMovies)="makeShowFilmsFirst($event)"></app-sorting>
           <app-filter *ngIf="i === 1"></app-filter>
           <app-where-watch *ngIf="i === 2"></app-where-watch>
        </li>
        <li class="nav-item w-max  justify-content-center">
          <div class="">
            <button type="button" id="search" class="btn btn-light w-100  ">Поиск</button>
          </div>
  
        </li>
      </ul>
    </div>
    
   
    
      
    
    <div class="d-flex flex-wrap">
       <div class="card-film" *ngFor="let film of filmsData ">
          <app-film-item [film]="film " [counter]="counter" (star)="makeStarFilms($event) "></app-film-item>
        </div>
    </div>
  </div>
  
  
  
  <div class="main-container ">
    <div class="fixer-container ">
      <button color="primary" (click)="setPagingFilms()" [class.a]="!variantDisplay" [disabled]="false">Загрузить
        еще</button>
    </div>
  </div>
  
  <div class="main-container ">
    <div class="fixer-container ">
      <button color="primary" (click)="setPagingSearchFilms()" [class.a]="variantDisplay" [disabled]="false">Загрузить еще
        происковый</button>
    </div>
  </div></div>


    
      