<div class="d-flex justify-content-center">
    <ul class="nav nav-tabs flex-justiefed-center">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Обзор</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Основное</a></li>
          <li><a class="dropdown-item" href="#">Альтернативное название</a></li>
          <li><a class="dropdown-item" href="#">Актёры и команда</a></li>
          <!-- <li><hr class="dropdown-divider"></li> -->
          <li><a class="dropdown-item" href="#">Дата выхода</a></li>
          <li><a class="dropdown-item" href="#">Переводы</a></li>
          <li><a class="dropdown-item" href="#">Смотреть сейчас</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Медия</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Задник</a></li>
          <li><a class="dropdown-item" href="#">Logos</a></li>
          <li><a class="dropdown-item" href="#">Постеры</a></li>
          <!-- <li><hr class="dropdown-divider"></li> -->
          <li><a class="dropdown-item" href="#">Видиоролики </a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Фандом</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item">   
           Обсуждение
          </li>
          <li><a class="dropdown-item" href="#">Рецензии</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Поделиться</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Поделиться ссылкой</a></li>
          <li><a class="dropdown-item" href="#">Facebook</a></li>
          <li><a class="dropdown-item" href="#">Tweet</a></li>
        </ul>
      </li>
      
    </ul>
  </div>
